header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(230, 230, 230);
    align-items: center;
}
section {
    background-color: beige;
}
h1 {
    text-align: center;
        font-size: 50px;
}
nav li {
    display: inline;
    padding: 30px;
    font-size: 20px;
   }
   nav li a {
       text-decoration: none;
   }
  
   p {
       font-size: 25px;
       text-align: center;
   }
   h2 {
       padding-left: 20px;
       font-size: 30px;
   }
   div {
       padding: 25px;
   }
  
